<p><%= @user.name %>, Welcome to Redwood Social</p>

<p>We've generated a password for you in case you come back after it's been a while, its <%= @password %></p>

<p>Thanks,<br />team@redwoodsocial.com</p>
