<div class="count"><%= friends.count %></div>

<div id="added">
  <% _(friends.added).each(function(friend) { %>
    <img src="<%= inbook.models.User.profileImage(friend.graph_id) %>" />
  <% }) %>
</div>

<div id="subtracted">
  <% _(friends.subtracted).each(function(friend) { %>
    <img src="<%= inbook.models.User.profileImage(friend.graph_id) %>" />
  <% }) %>
</div>
