<div id="login"></div>
<div id="dashboard"></div>

<script type="text/javascript">
  inbook.views.graphs = [
    {
      el: "#types",
      view: inbook.views.TypesGraphView,
      args: function() { return {} }
    },
    {
      el: "#who",
      view: inbook.views.WhoGraphView,
      args: function() { return {} }
    }
  ];

  $(function() {
    if(inbook.currentUser.id) {
      if(!/dashboard/.test(window.location.href)) {
        Backbone.history.navigate("/#!/dashboard", {trigger: true});
      }
      new inbook.views.SessionsNewView({el: "#login", user: inbook.currentUser});
    } else {
      new inbook.views.SessionsNewView({el: "#login"});
    }
  });
</script>
